################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/cppSampleClasses/x64/Debug/cppSampleClasses.log
/Project/.vs/cppSampleClasses/v15/Browse.VC.opendb
/Project/.vs/cppSampleClasses/v15/Browse.VC.db
/Project/.vs/cppSampleClasses/v15/.suo
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/7275462a1fe2684/MAIN.ipch
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/687bdf20d50ba91d/FRACTION.ipch
/Project/cppSampleClasses/x64/Debug/fraction.obj
/Project/cppSampleClasses/x64/Debug/cppSampleClasses.tlog/link.write.1.tlog
/Project/cppSampleClasses/x64/Debug/cppSampleClasses.tlog/link.read.1.tlog
/Project/cppSampleClasses/x64/Debug/cppSampleClasses.tlog/link.command.1.tlog
/Project/cppSampleClasses/x64/Debug/cppSampleClasses.tlog/cppSampleClasses.lastbuildstate
/Project/cppSampleClasses/x64/Debug/cppSampleClasses.tlog/CL.write.1.tlog
/Project/cppSampleClasses/x64/Debug/cppSampleClasses.tlog/CL.read.1.tlog
/Project/cppSampleClasses/x64/Debug/cppSampleClasses.tlog/CL.command.1.tlog
/Project/cppSampleClasses/x64/Debug/vc141.pdb
/Project/cppSampleClasses/x64/Debug/vc141.idb
/Project/cppSampleClasses/x64/Debug/main.obj
/Project/x64/Debug/cppSampleClasses.pdb
/Project/x64/Debug/cppSampleClasses.ilk
/Project/x64/Debug/cppSampleClasses.exe
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/827ae6d247678d84/VCTMP15628_252171.FRACTION.9DFE274C.ipch
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/a1f365a1c9329c25/FRACTION.ipch
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/a1f365a1c9329c25
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/4b7741c8b2a3a92c/MAIN.ipch
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/4b7741c8b2a3a92c
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/4a25055166416b25/FRACTION.ipch
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/4a25055166416b25
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/1b8776e2723e982c/MAIN.ipch
/Project/cppSampleClasses/Debug/vc141.pdb
/Project/cppSampleClasses/Debug/vc141.idb
/Project/cppSampleClasses/Debug/main.obj
/Project/cppSampleClasses/Debug/fraction.obj
/Project/cppSampleClasses/Debug/cppSampleClasses.tlog/link.write.1.tlog
/Project/cppSampleClasses/Debug/cppSampleClasses.tlog/link.read.1.tlog
/Project/cppSampleClasses/Debug/cppSampleClasses.tlog/link.command.1.tlog
/Project/cppSampleClasses/Debug/cppSampleClasses.tlog/cppSampleClasses.lastbuildstate
/Project/cppSampleClasses/Debug/cppSampleClasses.tlog/CL.write.1.tlog
/Project/cppSampleClasses/Debug/cppSampleClasses.tlog/CL.read.1.tlog
/Project/cppSampleClasses/Debug/cppSampleClasses.tlog/CL.command.1.tlog
/Project/cppSampleClasses/Debug/cppSampleClasses.log
/Project/cppSampleClasses/Debug/cppSampleClasses.Build.CppClean.log
/Project/Debug/cppSampleClasses.pdb
/Project/Debug/cppSampleClasses.ilk
/Project/Debug/cppSampleClasses.exe
/Project/cppSampleClasses/x64/Debug/main.obj.enc
/Project/cppSampleClasses/x64/Debug/fraction.obj.enc
/Project/cppSampleClasses/x64/Debug/cppSampleClasses.Build.CppClean.log
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/c500b962c5282a42/VCTMP8764_509444.FRACTION.00DACA95.ipch
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/a70f427689e7bb6f/VCTMP8764_926347.FRACTION.00DACA95MERGE.ipch
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/67efb9367301d629/EXE_COMMON.ipch
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/13de52dec29248dd/VCTMP8764_782255.FRACTION.00DACA95.ipch
/Project/.vs/cpp/v15/Solution.VC.db-wal
/Project/.vs/cpp/v15/Solution.VC.db-shm
/Project/.vs/cpp/v15/Solution.VC.db
/Project/.vs/cpp/v15/Browse.VC.opendb
/Project/.vs/cpp/v15/Browse.VC.db
/Project/DesignPatterns/x64/Debug/vc141.pdb
/Project/DesignPatterns/x64/Debug/vc141.idb
/Project/DesignPatterns/x64/Debug/main.obj
/Project/DesignPatterns/x64/Debug/DesignPatterns.tlog/link.write.1.tlog
/Project/DesignPatterns/x64/Debug/DesignPatterns.tlog/link.read.1.tlog
/Project/DesignPatterns/x64/Debug/DesignPatterns.tlog/link.command.1.tlog
/Project/DesignPatterns/x64/Debug/DesignPatterns.tlog/DesignPatterns.lastbuildstate
/Project/DesignPatterns/x64/Debug/DesignPatterns.tlog/CL.write.1.tlog
/Project/DesignPatterns/x64/Debug/DesignPatterns.tlog/CL.read.1.tlog
/Project/DesignPatterns/x64/Debug/DesignPatterns.tlog/CL.command.1.tlog
/Project/DesignPatterns/x64/Debug/DesignPatterns.tlog
/Project/DesignPatterns/x64/Debug/DesignPatterns.log
/Project/DesignPatterns/x64/Debug/DesignPatterns.Build.CppClean.log
/Project/DesignPatterns/x64/Debug
/Project/.vs/cpp/v15/.suo
/Project/SampleClasses/x64/Debug/vc141.pdb
/Project/SampleClasses/x64/Debug/vc141.idb
/Project/SampleClasses/x64/Debug/testCode.obj
/Project/SampleClasses/x64/Debug/SampleClasses.tlog/SampleClasses.lastbuildstate
/Project/SampleClasses/x64/Debug/SampleClasses.tlog/link.write.1.tlog
/Project/SampleClasses/x64/Debug/SampleClasses.tlog/link.read.1.tlog
/Project/SampleClasses/x64/Debug/SampleClasses.tlog/link.command.1.tlog
/Project/SampleClasses/x64/Debug/SampleClasses.tlog/CL.write.1.tlog
/Project/SampleClasses/x64/Debug/SampleClasses.tlog/CL.read.1.tlog
/Project/SampleClasses/x64/Debug/SampleClasses.tlog/CL.command.1.tlog
/Project/SampleClasses/x64/Debug/SampleClasses.log
/Project/SampleClasses/x64/Debug/SampleClasses.Build.CppClean.log
/Project/SampleClasses/x64/Debug/main.obj
/Project/SampleClasses/x64/Debug/fraction.obj
/Project/SampleClasses/x64/Debug/date.obj
/Project/Training/x64/Debug/vc141.pdb
/Project/Training/x64/Debug/vc141.idb
/Project/Training/x64/Debug/Training.tlog/Training.lastbuildstate
/Project/Training/x64/Debug/Training.tlog/link.write.1.tlog
/Project/Training/x64/Debug/Training.tlog/link.read.1.tlog
/Project/Training/x64/Debug/Training.tlog/link.command.1.tlog
/Project/Training/x64/Debug/Training.tlog/CL.write.1.tlog
/Project/Training/x64/Debug/Training.tlog/CL.read.1.tlog
/Project/Training/x64/Debug/Training.tlog/CL.command.1.tlog
/Project/Training/x64/Debug/training.log
/Project/Training/x64/Debug/Training.Build.CppClean.log
/Project/Training/x64/Debug/main.obj
/Project/x64/Debug/Training.pdb
/Project/x64/Debug/Training.ilk
/Project/x64/Debug/Training.exe
/Project/x64/Debug/SampleClasses.pdb
/Project/x64/Debug/SampleClasses.ilk
/Project/x64/Debug/SampleClasses.exe
/Project/x64/Debug/DesignPatterns.pdb
/Project/x64/Debug/DesignPatterns.ilk
/Project/x64/Debug/DesignPatterns.exe
/Project/Debug/SampleClasses.pdb
/Project/Debug/SampleClasses.ilk
/Project/Debug/SampleClasses.exe
/Project/Debug
/Project/.vs/cpp/v15/ipch/AutoPCH/f9defa0a940669bf/MAIN.ipch
/Project/.vs/cpp/v15/ipch/AutoPCH/f9defa0a940669bf
/Project/.vs/cpp/v15/ipch/AutoPCH/f42c3e523da4def6/FRACTION.ipch
/Project/.vs/cpp/v15/ipch/AutoPCH/f42c3e523da4def6
/Project/.vs/cpp/v15/ipch/AutoPCH/e06293011446a5bf/TESTCODE.ipch
/Project/.vs/cpp/v15/ipch/AutoPCH/e06293011446a5bf
/Project/.vs/cpp/v15/ipch/AutoPCH/3ba835c6705a1158/DATE.ipch
/Project/SampleClasses/Debug/vc141.pdb
/Project/SampleClasses/Debug/vc141.idb
/Project/SampleClasses/Debug/testCode.obj
/Project/SampleClasses/Debug/SampleClasses.tlog/SampleClasses.lastbuildstate
/Project/SampleClasses/Debug/SampleClasses.tlog/link.write.1.tlog
/Project/SampleClasses/Debug/SampleClasses.tlog/link.read.1.tlog
/Project/SampleClasses/Debug/SampleClasses.tlog/link.command.1.tlog
/Project/SampleClasses/Debug/SampleClasses.tlog/CL.write.1.tlog
/Project/SampleClasses/Debug/SampleClasses.tlog/CL.read.1.tlog
/Project/SampleClasses/Debug/SampleClasses.tlog/CL.command.1.tlog
/Project/SampleClasses/Debug/SampleClasses.log
/Project/SampleClasses/Debug/SampleClasses.Build.CppClean.log
/Project/SampleClasses/Debug/main.obj
/Project/SampleClasses/Debug/fraction.obj
/Project/SampleClasses/Debug/date.obj
