################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/cppSampleClasses/x64/Debug/cppSampleClasses.log
/Project/.vs/cppSampleClasses/v15/Browse.VC.opendb
/Project/.vs/cppSampleClasses/v15/Browse.VC.db
/Project/.vs/cppSampleClasses/v15/.suo
