################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/cppSampleClasses/x64/Debug/cppSampleClasses.log
/Project/.vs/cppSampleClasses/v15/Browse.VC.opendb
/Project/.vs/cppSampleClasses/v15/Browse.VC.db
/Project/.vs/cppSampleClasses/v15/.suo
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/7275462a1fe2684/MAIN.ipch
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/687bdf20d50ba91d/FRACTION.ipch
/Project/cppSampleClasses/x64/Debug/fraction.obj
/Project/cppSampleClasses/x64/Debug/cppSampleClasses.tlog/link.write.1.tlog
/Project/cppSampleClasses/x64/Debug/cppSampleClasses.tlog/link.read.1.tlog
/Project/cppSampleClasses/x64/Debug/cppSampleClasses.tlog/link.command.1.tlog
/Project/cppSampleClasses/x64/Debug/cppSampleClasses.tlog/cppSampleClasses.lastbuildstate
/Project/cppSampleClasses/x64/Debug/cppSampleClasses.tlog/CL.write.1.tlog
/Project/cppSampleClasses/x64/Debug/cppSampleClasses.tlog/CL.read.1.tlog
/Project/cppSampleClasses/x64/Debug/cppSampleClasses.tlog/CL.command.1.tlog
/Project/cppSampleClasses/x64/Debug/vc141.pdb
/Project/cppSampleClasses/x64/Debug/vc141.idb
/Project/cppSampleClasses/x64/Debug/main.obj
/Project/x64/Debug/cppSampleClasses.pdb
/Project/x64/Debug/cppSampleClasses.ilk
/Project/x64/Debug/cppSampleClasses.exe
/Project/.vs/cppSampleClasses/v15/ipch/AutoPCH/827ae6d247678d84/VCTMP15628_252171.FRACTION.9DFE274C.ipch
